/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,td,img,div,dl,dt,dd,input{ margin:0; padding:0;}
body{ font-size:12px;background-color:#FFF;font:12px "Microsoft YaHei","SimSun","Arial"," Helvetica", sans-serif;/*Microsoft YaHei*/}
::selection { background-color: transparent;}
img{ border:none;}
li{ list-style:none;}
input,select,textarea{ outline:none; border:none; background:none;}
/*outline 轮廓*/
textarea{ resize:none;}
/*resize 缩放*/
a{ text-decoration:none; color:#656565;}
a:hover{ text-decoration:none;}
/*清楚浮动*/
.clearfix:after{ content:""; display:block; clear:both;}
.clearfix{ zoom:1;}
/*  zoom:1; IE浏览器的专有属性*/
ul{ list-style: none;}
img{ border: none;}
.fl{ float:left;}
.fr{ float:right;}
.hide{ display:none;}
.show{ display:block;}
i,em{ font-style:normal;}




html,body{
    height: 100%;
}
ul{ list-style: none;}

.page-content,.page-side{
    height: inherit;
    float: left;
}
.preelect{
    border-top:1px solid #ddd;
    height: 135px;
}

.page-content{
    width: 75%;
}
.page-side{
    width: 25%;
    background: #444;
}

.order-set{
    height: inherit;
    margin-bottom: -135px;
    padding-bottom:135px;

}

.order-list,.order-center{
    width: 50%;
    height: 100%;
    background: #f5f5f5;
    /*padding: 8px;*/
    float: left;
    position: relative;
}

.order-list{
    border-right:1px solid #ddd;
}
.order-conf{
    border-left:1px solid #fff;
}
.order-list table,.order-conf table{
    width: 100%;
    border-top:1px solid #fff;
    color: #555;
    font-size: 14px;
}
.table-list > tbody >tr>td{
    font-size: 14px;
    padding:15px 12px;
}
.table-list > tbody >tr>td:last-child{
    text-align: right;
}

.table-list > tbody >tr:nth-child(2n){
    background: #fff;
}

.table-list > tbody >tr:active{
    cursor: pointer;
    background: #8cc63e;
    color: #fff;
    transition: all .2s;
}

.total-order{
    border-bottom:1px solid #ccc;
    padding: 15px 12px;
    font-size: 16px;
    background-color:#e2e2e2;
}
.total-order span{
    float: left;
}
.total-order span i{
    font-style: normal;
    font-weight: 500;
    margin-left: 5px;
}

.total-order .total{
    float: right;
}

.total-order .tip{
    font-size: 14px;
    color: #333;
}
.total-order .tip em{
    font-style: normal;
}
/* 分单 */
.menu-single{

}

.menu-single .total-order{
    background: #8cc63f;
    color: #fff;
}
.menu-single .total-order .tip{
    color: #fff;
}

.menu-single .table-list > tbody >tr:nth-child(2n+1){
    background: #eefac8;
}
.menu-single .table-list > tbody >tr:nth-child(2n){
    background: #fff;
}
.menu-single .table-list > tbody >tr:active{
    background: #f7951e;
    color: #fff;
    transition: all .2s;
}

/* 撤销菜单 */
.menu-undo{}

.menu-undo .total-order{
    background: #af1d1d;
    color: #fff;
}

.menu-undo .table-list{
    color:#af1d1d;
}
.menu-undo .table-list > tbody >tr:nth-child(2n+1){
    background: #ffe6e6;
}
.menu-undo .table-list > tbody >tr:nth-child(2n){
    background: #fff;
}
.menu-undo .table-list > tbody >tr:active{
    background: #f7951e;
    color: #fff;
    transition: all .2s;
}

/* 换桌 */
.menu-changeTab{

    color:#fff;
}
.menu-changeTab .total-order .tip{
    color: #fff;
}

.menu-changeTab .total-order{
    background: #8cc63f;
    text-align: right;
}
.menu-changeTab .total-name{
    margin-right: 5px;
}
.menu-changeTab .total-name ,.menu-changeTab .total{
    float: none;
}

.menu-changeTab .table-list > tbody >tr:nth-child(2n+1){
    background: #eefac8;
}
.menu-changeTab .table-list > tbody >tr:nth-child(2n){
    background: #fff;
}
.menu-changeTab .table-list > tbody >tr:active{
    background: #f7951e;
    color: #fff;
    transition: all .2s;
}


.payment{
    padding: 0;
    list-style: none;
    margin:8px 0;
}
.payment li{
    float: left;
    width: 33.33%;
}
.payment li a{
    font-size: 12px;
    color: #fff;
    display: block;
    width:60px;
    height:60px;
    border-radius:50%;
    border:1px solid #626262;
    text-align:center;
    margin:5px auto;
    background: linear-gradient(#494949, #1A1A1A);
    padding-top: 10px;
    text-decoration: none;
}
.payment li a .fa{
    font-size: 18px;
}
.payment li a b{
    font-weight: normal;
    display: block;
}
.payment li a:active{

    background: linear-gradient(#1A1A1A, #494949);
}
.payment li.active a{
    background: #000;
}

.func-box{
    height: 60%;
    overflow: hidden;
}
.func-set{
    padding: 0px  7px 0px 10px;
    list-style: none;
    color: #FFF;
    margin-bottom: 10px;
}

.func-set li{
    float: left;
    width: 33.33%;
    color:#9c9c9c;
    border:1px solid #626262;
    margin-top:-1px;
    margin-left:-1px;
    font-size:15px;
    font-family: 'PT Sans', Tahoma;
    background:  linear-gradient( #494949, #1A1A1A);
    text-align: center;
    padding: 5% 0;
    cursor: pointer;
    transition: all .2s;
    white-space: nowrap;
    overflow: hidden;
}
.func-set li.active{
    background:  #000;
    color: #FFF;
}
.func-set li.disabled{
    background: #666;
}

.btn-set{
    width: 100%;
    background: #f7951e;
    color: #312a2a;
    font-size: 18px;
    border: none;
    padding: 3.5% ;
    outline: none;
}
.btn-set:active{
    background: #f28909;
    color: #fff;
}

.calculator{
    height: 40%;
    padding: 75px 10px 10px 10px;
}
.calculator-table{
    width: 100%;
    height: 100%;
}


.calculator-enter{
    text-align: right;
    width: 100%;
    border:none;
    outline: none; 
    font-size: 34px;
	overflow:hidden;
}
.calculator-output{
    background: #fff;
    padding:0 8px;
	margin-top: -75px;
}
.calculator-icon{
    position: relative;
}
.calculator-icon:before{
    font-size: 16px;
    font-weight: bold;
    display: table;
    line-height: 30px;
    position: absolute;
    right: 0;
    top:0;
}
.calculator-icon-percent{
    padding-right: 16px;
}
.calculator-icon-percent:before{
    content: '%';
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 50px;
}
.calculator-icon-money{
    padding-right: 10px;
}
.calculator-icon-money:before{
    content: '€';
    font-family: 'PT Sans', Tahoma;
    font-size: 24px;
    line-height: 50px;
}

.calculator-status{
    height: 30px;
    line-height: 30px;
    font-size: 1.2em;
    color: #666;
}


.calculator-table{
    height: 100%;
}

.calculator-table > tbody >tr >td{
    width: 25%;
    height: 25%;
    color: #fff;
    text-align: center;
    padding: 3% 0;
    font-size:20px;
    border:1px solid #626262;
    background:  linear-gradient( #494949, #1A1A1A);
    cursor: pointer;
}
.calculator-table > tbody >tr >td:active,.calculator-table > tbody >tr >td.active{
    background: #000;
}
.calculator-table > tbody >tr >td.disabled{
    background: #999;
    cursor: auto;
}



.btn-confirm{
    background: linear-gradient(#F7951E, #F7951E) !important;
}

/* 右侧菜单列表 展示  */

.food-list{
    list-style: none;
    border-top: 1px solid #FFF;
    margin: 0;
}
.food-list:first-child{
    border-top:none;
}
.food-list:after{
    content: '';
    display: table;
    clear: both;
}

.food-list >li {
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    padding: 8px;
    margin: 2px;
    cursor: pointer;
}
.food-list >li:active{
    opacity: .85;
    transition: all .2s;
}
.food-list >li>i{
    font-size: 30px;
    margin: 5px 0 5px;
    line-height: 1em;
}
.food-list >li >em{
    display: block;
    font-style: normal;
    height: 45px;
    font-size: 14px;
    word-break: break-all;
    overflow: hidden;;
}
.food-list >li > .food-detail{
    display: block;;
    font-size: 14px;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
    color: #FFF;
    padding-top: 5px;
}
.food-list >li > .food-detail >b{
    display: inline-block;
    font-weight: normal;
    font-size: 12px;
    line-height: 0.8em;
    color: #FFF;
}

.food-list > .food-blue,.preelect .preelect-blue{
    background:#223a78;
}
.food-list > .food-red,.preelect .preelect-red{
    background:#C51F2B;
}
.food-list > .food-yellow,.preelect .preelect-yellow{
    background:#E58D22;
}
.food-list > .food-green,.preelect .preelect-green{
    background:#28a047;
}


/* 底部预选菜单列表 */
.preelect{
    width: 100%;
    white-space:nowrap;
    overflow-x:scroll;
    font-size: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}
.preelect .preelect-list{
    width: 90px;
    height: 90px;
   /* background: #e52230;*/
    border-radius: 8px;
    margin: 10px 0px 10px 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    cursor:pointer;
}
.preelect-status{
    font-size: 0;
    padding: 5px;
    height: 30px;
    position: relative;
}
.preelect-status b{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;

    position: absolute;
    top: 5px;
}
.preelect-status b.ps-isToGo{
    background: #ccc;
    left: 5px;
}
.preelect-status b.ps-attribute{
    background: #8cc63f;
    left: 50%;
    margin-left: -10px;
}
.preelect-status b.ps-num{
    background: #f21b1c;
    right: 5px;
}

.preelect-info{
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
}


/* 切换餐桌 */

.change-table{ width: 100%; height: 48px; background: #8cc63f;}
.change-table .changeTab-title{
    display: block;
    float: left;
    width: 50%;
    background: #8cc63f;
    text-align: left;
    color: #fff;
    font-size: 16px;
    padding: 15px 12px;
}
.change-table .changeTotal{
     float: right;
     width: 30%;
     line-height: 48px;
     color: #fff;
     font-size: 16px;
}


/* 菜品属性 */
.dishes-attribute{
    list-style: none;
    margin: 0;
}
.dishes-attribute li{
    float: left;
    width: 90px;
    height: 90px;
    background: #7d151e;
    color: #fff;
    border-radius: 8px;
    margin: 2px;
    text-align: center;
    padding: 8px;
    overflow: hidden;
    cursor: pointer;
}
.dishes-attribute li b{ padding-top: 18px;}
.dishes-attribute li b,.dishes-attribute li em{
    font-style: normal;
    font-weight: normal;
    display: block;
    font-size: 14px;
}
.dishes-attribute li.active{
    background: #3ab85f;
}
.dishes-attribute li.attr-btn{
    background: #28a047;
    line-height: 75px;
    font-size: 18px;
}




/*New Add*/
/*餐牌背景颜色调整*/
#foodBreed .food-blue{ background-color:#385398;}
#foodDetail .food-blue{ background-color:#415CA2;}
#foodBreed .food-red{ background-color:#DE3340;}
#foodDetail .food-red{ background-color:#D0323E;}
#foodBreed .food-green{ background-color:#3CA758;}
#foodDetail .food-green{ background-color:#4BB567;}
#foodBreed .food-yellow{ background-color:#F5A133;}
#foodDetail .food-yellow{ background-color:#F5A439;}

div.Home-item{ width:25%; float:left; overflow:hidden; background-color:#444;}
div.Home-page{  height: 49px; background-color: #252525; font: 16px/49px '微软雅黑';color: #FFF;}
div.Home-page a{ display: block; font: 18px/49px '微软雅黑'; margin-left: 10px; color: #FFF; padding: 0 25px; height: 49px; background-color: #f7931e; float: left; text-decoration:none;}
div.Home-page em{ font-style:normal;}

div.page-right-item{ width:100%;padding: 10px; height:inherit;}
div.Oder-pai{ width:100%; height:49px; border-bottom:1px solid #ddd;font: 16px/49px '微软雅黑'; text-indent:1em;}
ul.homeTitle{ width:100%; height:48px;background-color:#000; margin-bottom: 10px;}
ul.homeTitle li{ float:left; color:#FFF; line-height:48px; margin-left:10px; font-size: 18px;}
ul.homeTitle li a{ padding:0 30px;color:#FFF; background-color:#f7931e;display: inline-block; font-size:18px;text-decoration: none; }
ul.homeTitle span{ display:block; float:left; line-height:48px; padding-left:10px;color:#FFF; font-size: 15px;}
#loading img{width:50px; height:50px; margin-left:35%;}
div.backBut{ padding:0px 10px;}



